p
  | Filters 
  a(href='/lists/books/all') All
  |  
  a(href='/lists/books/overdue') Overdue
  |  
  a(href='/lists/books/checked out') Checked Out
  |
  a(href='/lists/loans/all') All
  |  
  a(href='/lists/loans/overdue') Overdue
  |  
  a(href='/lists/loans/checked out') Checked Out