extends layout
block Content
  include partials/formError

  if(book)
    include partials/forms/bookForm

  if(loan)
    include partials/forms/loanForm

  if(patron)
    include partials/forms/patronForm