extends layout
block Content
  include partials/button
  include partials/filter
  if(all)
    include partials/forms/searchForm
  if(books)
    include partials/tables/bookTable
  if(loans)
    include partials/tables/loanTable
  if(patrons)
    include partials/tables/patronTable
  include partials/pagination