form(action='./')
  if(loans)
    input(type='text', value='title', name='title')
    input(type='text', value='first_name', name='first_name')
    input(type='text', value='last_name', name='last_name')
    input(type='text', value='loaned_on', name='loaned_on')
    input(type='text', value='return_by', name='return_by')
    input(type='text', value='returned_on', name='returned_on')
  if(patrons)
    input(type='text', value='first_name', name='first_name')
    input(type='text', value='last_name', name='last_name')
    input(type='text', value='address', name='address')
    input(type='text', value='email', name='email')
    input(type='text', value='library_id', name='library_id')
    input(type='text', value='zip_code', name='zip_code')
  if(books)
    input(type='text', value='title', name='title')
    input(type='text', value='author', name='author')
    input(type='text', value='genre', name='genre')
    input(type='text', value='first_published', name='first_published')
  input(type='submit', value='Search')